* {
    padding: 0px;
    margin: 0px;
    font-family: Montserrat;
    box-sizing: border-box;
}

.header {
overflow: hidden;
background-color: #f1f1f1;
padding: 20px 10px;
}

.header a {
float: left;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px;
line-height: 25px;
border-radius: 4px;
}

.header a.logo {
font-size: 25px;
font-weight: bold;
}

.header a:hover {
background-color: #0099ff;
color: #fff;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
float: right;
}

.banner {
    height: 450px;
    background-image: url(image/banner1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner h1 {
    color:#337ea3;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.banner h1:hover {
  color: #fff;
}

.banner p {
    color: #337ea3;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.banner p:hover {
  color: #fff;
}
button {
    background-color: #0099ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 15px;
}
button:hover {
  background-color: #62f10f;
}
section {
    padding: 50px 0;
}

@media screen and (max-width: 500px) {
.header a {
    float: none;
    display: block;
    text-align: left;
}
.header-right {
    float: none;
}
}

.service-wrapper {
    padding-bottom: 80px;
    text-align: center;
  }
  
  .container {
      max-width: 1170px;
      width: 100%;
        padding: 0 15px;
        margin: 0 auto;
  }

  .clear {
    clear: left;
  }

  .heading {
    padding-top: 60px;
    color: #5f5d60;
  }
  
  .heading h2 {
      font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  
  .service {
    float: left;
    width: 25%;
  }
  
  .service-icon img {
    position: relative;
    width: 250px;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 5px;
    font-size: 25px;
    color: #928f94;
  }
  
  .heading h3 {
    font-weight: normal;
  }

  .contact-form {
    padding-top: 30px;
  }
  
  /* Add CSS for <input> and <textarea> tags */
  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
  }
  
  .message-wrapper {
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #52b8eb;
    cursor: pointer;
    box-shadow: 0 7px #337ea3;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  .message-wrapper span {
      font-size: 20px;
      margin-top: 30px;
  }

  .btn {
    padding: 20px 40px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 8px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .strategy-wrapper {
      background: url(image/bg-strategy.jpg);
      background-size: cover;
      display: block;
      margin: 0 auto;
    text-align: center;
  }

  .strategy-wrapper h2 {
      color: #eee;
      margin-bottom: 40px;
  }

  .strategy {
    float: left;
    width: 25%;
  }
  
  .strategy-icon img {
    position: relative;
    width: 200px;
    animation: mymove 5s infinite;
    margin-bottom: 80px;
  }

  .anim-1 {animation-timing-function: linear;}
  .anim-2 {animation-timing-function: ease;}
  .anim-3 {animation-timing-function: ease-in;}
  .anim-4 {animation-timing-function: ease-out;}

  @keyframes mymove {
    from {left: -300px;}
    to {left: 0px;}
  }

  .footer{
    background-color: #2f5167;
    color:#fff ;
    height: 100px;   
    padding-top: 20px;
    width: 100%; 
  }
  .logo {
      float: right;
      margin-right: 50px;
      margin-top: 20px;
  }
  .footer-item{
      float: right;
      margin-left: 40px;
      width: 30%;
  }
  .footer-item li{
      list-style: none;
  }
  .fa{
    margin-right: 10px;
  }
  
